.card-container {
  position: relative;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  width: 310px;
  flex-shrink: 0;

  &-list {
    flex-grow: 1;
    overflow-y: auto;
    & > div {
      height: 100%;
      min-height: 70px;
    }
  }

  &-header .btn-toggle {
    background: none;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border: none;
    color: white;
  }

  &-header .btn-toggle:hover {
    background-color: rgba($color: #000000, $alpha: 1);
  }

  &-header {
    color: $white;
  }
  &-footer {
    justify-self: flex-end;
  }
  & .board-new {
    background: black;
    padding: $spacer / 2;
    & > * {
      padding: 0;
    }
  }
}
