.card {
  color: black;
  &-content {
    font-size: 0.9rem;
  }
  &-title {
    font-weight: 600;
  }
  &-edit {
    & label {
      color: black;
    }
  }
  &-new {
    background: black;
    padding: $spacer / 2;
    & > * {
      padding: 0;
    }
    & label {
      color: white;
    }
  }
}
