@font-face {
  font-family: "bootstrap-icons";
  src: url("/fonts/bootstrap-icons.woff") format("woff"),
    url("/fonts/bootstrap-icons.woff2") format("woff2");
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-alarm::before {
  content: "\f102";
}
.bi-pencil-square::before {
  content: "\f478";
}
.bi-trash-fill::before {
  content: "\f56a";
}
.bi-three-dots-vertical::before {
  content: "\f561";
}
.bi-calendar-range-fill::before {
  content: "\f1de";
}

.bi-columns-gap::before {
  content: "\f29b";
}

.bi-house-door-fill::before {
  content: "\f3e7";
}
.bi-person-badge-fill::before {
  content: "\f480";
}

.bi-kanban-fill::before {
  content: "\f410";
}

.bi-calendar-plus::before {
  content: "\f1dd";
}
